# Htaccess comentario

DirectoryIndex index.html

RewriteEngine On
RewriteBase /
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^inicio$ index.html [L]


RewriteRule "buscador.html" "http://www.google.com"

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://(.+\.)?192.169.13.59\.com/.*$ [NC]
RewriteRule \.(jpg)$ http://192.169.13.59/DPL/img/peepopolice.jpg [F]


ErrorDocument 404 /DPL/errores/404.html
ErrorDocument 403 /DPL/errores/403.html
ErrorDocument 500 /DPL/errores/500.html


#<Directory />
#    AllowOverride None
#    Options -Indexes
#    Order Deny,Allow
#    Deny from Allow
#</Directory>