RewriteEngine on

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{HTTP_HOST} ^localhost$

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(192.169.13.59/) [NC]

RewriteRule \.(gif|jpg|png)$ https://img.todo-memes.com/meme-de/CUANDO-TE-ENCUENTAS-AL-BRAYAN-EN-LA-CALLE-NO-ME-R-282099.jpg [NC,R,L]

RewriteRule "buscador.html" "http://www.google.com"
RewriteRule ^inicio$ DPL/index.html [L]
RewriteRule ^buscador$ https://www.google.es [L]
RewriteRule ^mifoto$ "DPL/img/life.jpg"